@import '~font-awesome/css/font-awesome.min.css';

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --font-size: 16px;
}

header nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 2px 2px 0px, rgba(0, 0, 0, 0.07) 0px 0px 2px 0px;
}

header .nav-link {
    /*   font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-feature-settings: "calt";
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 21px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
}

header .nav-link:hover,
header .toggle-mode:hover {
    color: var(--primary-color);
}

header .toggle-mode {
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: initial;
    letter-spacing: normal;
    cursor: pointer;
}

header .toggle-mode .toggle-mode-i {
    font-size: 18px;
    margin-right: 0.8rem;
    position: relative;
    top: 2px;
}

.custom-button-outline {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Assure le centrage horizontal */
    border-radius: 50px;
    border: solid 1px black;
    font-size: 14px;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    background-color: white;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
    text-align: center;
    height: 32px;
    margin: 0;
    padding: 0 16px;
    text-decoration: none;
    text-transform: initial;
    cursor: pointer;
    color: black;
}

.custom-button-outline:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Assure le centrage horizontal */
    border-radius: 50px;
    border: solid 1px #000;
    font-size: 14px;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    background-color: #000;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
    color: #fff;
    text-align: center;
    height: 32px;
    margin: 0;
    padding: 0 16px;
    text-decoration: none;
    text-transform: initial;
    cursor: pointer;
}

.custom-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px rgba(0, 0, 0, 0.7);
}

.custom-button-lg {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 6px 0px, rgba(0, 0, 0, 0.14) 0px 8px 12px 0px;
    border-radius: 500px;
    background-color: var(--primary-color);
    color: white;
    appearance: button;
    font-size: 19px;
    font-weight: 600;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px 20px;
    height: 58px;
    text-decoration: none;
    border: none;
}

.custom-card-md,
.custom-card {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.06) 0px 4px 5px 0px, rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .custom-card-md {
        box-shadow: none;
        /* Supprime la boîte d'ombre */
        border-radius: 0;
        /* Supprime le border-radius */
    }
}

.custom-card-title {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}

.hr-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.87);
    margin-bottom: 3rem;
}

.h1-subtitle {
    color: rgba(0, 0, 0, 0.58);
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.action-bar_scroll {
    overflow-x: scroll;
}

.action-bar_wrapper {
    display: inline-flex;
    align-items: center;
    min-width: 100%;
    padding: 18px 32px 3px;
}

.action-bar_space {
    flex: 1;
}

.action-bar_buttons {
    border-color: rgba(0, 0, 0, 0.87) !important;
    border-color: #cee1ff;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-right: 0;
    border-radius: 3px;
}

.trading_page .MuiTabs-root {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2) !important;
}

.trading_page .MuiTabs-root .MuiButtonBase-root {
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

/*
.action-bar_buttons select {
    border-color: rgba(0, 0, 0, 0.87) !important;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: none;
    outline: none;
    cursor: pointer;
    transition: background-color .1s ease-out;
    padding: 0 30px 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 33px;
    width: 100%;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.action-bar_buttons option {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.action-bar_buttons-item {
    border-color: rgba(0, 0, 0, 0.87) !important;
    flex-grow: 1;
    display: inline-block;
    vertical-align: top;
    border-right: solid 1px rgba(0, 0, 0, 0.87);
}

.select-container {
    position: relative;
    display: inline-block;
}

.chevron-icon {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    color: #000;
    cursor: pointer; 
    margin-left: 10px;
} */